if object.mimetype
  if object.mimetype.indexOf('image') === 0
    i.fas.fa-image
  else if object.mimetype.indexOf('video') === 0
    i.fas.fa-video
  else if object.mimetype.indexOf('audio') === 0
    i.fas.fa-music
  else if object.mimetype.indexOf('text') === 0
    if ['html', 'javascript', 'css', 'python', 'rust', 'php', 'cpp', 'go'].includes(object.mimetype.split('/')[1])
      i.fas.fa-code
    else
      i.fas.fa-object-alt
  else if object.mimetype.indexOf('application') === 0
    if ['zip', 'tar', 'gzip', 'rar'].includes(object.mimetype.split('/')[1])
      i.fas.fa-file-archive
    else if ['json', 'yaml', 'ini', 'x-javascript', 'rust', 'php', 'go'].includes(object.mimetype.split('/')[1])
      i.fas.fa-code
    else
      i.fas.fa-object-alt
  else
    i.fas.fa-object-alt
else      
  i.fas.fa-object-alt
