html
  head
    title ORC // #{meta.identity}
    meta(http-equiv="Content-Security-Policy", content="default-src 'self'")
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/vendor/css/fontawesome.css')
    link(rel='stylesheet', href='/css/fonts.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    input#toggle(type='checkbox', checked='checked')
    label(for='toggle')
      i.fas.fa-bars
    header#header
      img#logo(src='/img/logo-word-purple.png', width='224px')
      nav
        if meta.category === 'status'
          a.active(href='/') 
            i.fas.fa-signal 
            span  Status
        else
          a(href='/')
            i.fas.fa-signal
            span  Status
        if meta.category === 'files'
          a.active(href='/objects') 
            i.fas.fa-folder-open 
            span  Files
        else  
          a(href='/objects') 
            i.fas.fa-folder-open
            span  Files
        if meta.category === 'directory'
          a.active(href='/peers') 
            i.fas.fa-users 
            span  Directory
        else
          a(href='/peers') 
            i.fas.fa-users 
            span  Directory
        if meta.category === 'messages'
          a.active(href='/messages') 
            i.fas.fa-comment-alt 
            span  Logs
        else
          a(href='/messages') 
            i.fas.fa-comment-alt 
            span  Logs
        if meta.category === 'settings'
          a.active(href='/settings') 
            i.fas.fa-cog 
            span  Settings
        else
          a(href='/settings') 
            i.fas.fa-cog 
            span  Settings
        a(href='/logout')
          i.fas.fa-sign-out-alt
          span  Logout
    #container
      block content
      if meta.onion
        section.onion
          p
            strong Remote Access:
          p #{meta.onion}
