extends layout.pug

block content
  section 
    h2
      i.fas.fa-key
      span  Authenticate
    form#authenticate(action='/login?_csrf=' + meta.csrfToken, method='post')
      p.
        Enter the passphrase configured for unlocking your private key. This 
        is the same passphrase used to start your ORC node.
      .block-input-text-wrapper
        input(type='password', placeholder='Enter your passphrase', name='passphrase', required='true')
      if meta.totp
        p.
          Enter the one-time code from your authenticator application.
        .block-input-text-wrapper
          input(type='number', placeholder='123456', name='oath', required='true')
      input.button(type='submit', value='Login')
