extends layout.pug

block content
  section
    if peers.length > 1
      h2.green
        i.fas.fa-signal
        span  Connected
    else if peers.length === 1
      h2
        i.fas.fa-spinner.spinning
        span  Connecting
    else
      h2.red
        i.fas.fa-times-circle
        span  Disconnected
    ul
      li
        i.fas.fa-fingerprint
        code #{meta.identity} 
      li
        i.fas.fa-key
        code #{meta.contact.pubkey}
      li
        a(href='http://' + meta.contact.hostname + ':' + meta.contact.port)
          i.fas.fa-user-secret 
          span #{meta.contact.hostname}
      if !meta.totp
        li.yellow
          i.fas.fa-cog
          i.fas.fa-exclamation-triangle
          strong.
            Two factor authentication in not enabled! #[a(href='/settings') Enable 2FA].
  section
    h2
      i.fas.fa-users
      span  #{peers.length} Peers
    ul
      for peer in peers
        li
          a(href='/peers/' + peer[0]) 
            i.fas.fa-fingerprint
            code #{peer[0]} 
