extends layout.pug

block content
  section
    h2
      i.fas.fa-mobile-alt
      span  Setup 2FA
    p.
      Scan the QR code below using an authenticator application like #[a(href='https://authy.com/download/') Authy], 
      #[a(href='https://play.google.com/store/apps/details?id=com.google.android.apps.authenticator') Google Authenticator], 
      or #[a(href='https://f-droid.org/en/packages/com.yubico.yubioath/') Yubico Authenticator].
      Type the 6 digit code provided by your application into the field and submit to 
      enable two factor authentication.
    p
      em If you lose access to your device, you will have to manually reset this setting on the server.
    #qr
      img(src='/totp/qr')
    p
      span Can't scan? Enter or click: 
      code #[a(href=totp.href) #{totp.secret}].
    form#totp-setup(action='/totp?_csrf' + meta.csrfToken, method='post')
      .block-input-text-wrapper
        input(type='number', name='oath', placeholder='123456', required='true')
      input.button(type='submit', value='Pair Device')
