extends layout.pug

block content
  section
    h2
      i.fas.fa-comment-alt
      span  Message Log
    p 
      i Showing #{logs.length} most recent log messages.
    ul
      for msg in logs
        if msg.level === 20
          li.purple(title=msg.msg)
            i.fas.fa-bug
            strong  #{msg.time}
            code  #{msg.msg}    
        else if msg.level === 30
          li(title=msg.msg)
            i.fas.fa-info-circle
            strong  #{msg.time}
            code  #{msg.msg} 
        else if msg.level === 40
          li.yellow(title=msg.msg)
            i.fas.fa-exclamation-triangle
            strong  #{msg.time}
            code  #{msg.msg}  
        else if msg.level === 50
          li.red(title=msg.msg)
            i.fas.fa-times-circle
            strong  #{msg.time}
            code  #{msg.msg}
        else
          li(title=msg.msg)
            i.fas.fa-comment-title
            strong  #{msg.time}
            code  #{msg.msg}
