extends layout.pug

block content
  section
    h2
      i.fas.fa-info-circle
      span  About ORC
    ul
      li 
        i.fas.fa-stopwatch
        span  #{meta.uptime}
      li
        i.fas.fa-code-branch 
        span  #{meta.versions.software} / #{meta.versions.protocol}
      li
        i.fas.fa-server
        span  #{meta.versions.system.platform} #{meta.versions.system.arch} #{meta.versions.system.release}
  section
    h2
      i.fas.fa-mobile-alt
      span  Two Factor Authentication
    if meta.totp
      ul
        li.green
          i.fas.fa-check-circle
          span  Two factor authentication is enabled!
      p If you need to disable two factor authentication, enter the PIN code from your authenticator app below.
      form#unpair-2fa(action='/totp/delete?_csrf=' + meta.csrfToken, method='post')
        .block-input-text-wrapper
          input(type='number', name='oath', placeholder='123456', required='true')
        input.bg-red.button(type='submit', value='Disable 2FA (Not Recommended)')
    else
      ul
        li.yellow
          i.fas.fa-exclamation-triangle
          span  Two factor authentication is not enabled!
      div
        a.bg-green.button(href='/totp') Setup 2FA 
      p
        i.
          Two factor authentication adds an additional layer of security for 
          accessing your node. In addition to your regular passphrase, you 
          will be asked to enter a one-time PIN code every time you login. 
  section
    h2
      i.fas.fa-key
      span  Reset Passphrase
    p.
      Resetting your passphrase will re-encrypt your private extended key. This new passphrase will be 
      required for both starting your ORC node and logging into the web interface. 
    p
      i All existing sessions will be logged out.
    form(action='/passphrase?_csrf=' + meta.csrfToken, method='post')
      .block-input-text-wrapper
        input(type='password', name='passphrase_old', placeholder='Enter your existing passphrase', required='true')
      .block-input-text-wrapper
        input(type='password', name='passphrase_new', placeholder='Enter your new passphrase', required='true')
      if meta.totp
        p
          em Enter the PIN code from your Authenticator app below.
        .block-input-text-wrapper
          input(type='number', name='oath', placeholder='123456', required='true')
      input.button(type='submit', value='Change Passphrase')
    
