extends layout.pug

block content
  section
    h2 
      i.fas.fa-upload
      span  Upload
    form#upload(method='post', action='/objects?_csrf=' + meta.csrfToken, enctype='multipart/form-data')
      .block-input-text-wrapper
        input(type='file', name='file')
      input.button(type='submit', value='Upload')
  section
    h2 
      i.fas.fa-file-import 
      span  Import
    form#import(method='post', action='/objects/resolve?_csrf=' + meta.csrfToken, enctype='multipart/form-data')
      label
        .block-input-text-wrapper
          input(type='text', placeholder='Paste ORC URI...', name='href', required='true')
        input.button(type='submit', value='Import')
  section        
    h2 
      i.fas.fa-folder-open
      span  Files
    if objects.length === 0
      p There are no files managed.
    ul#files
      for object in objects
        li 
          a(href='/objects/' + object.key + '/info') 
            span.left 
              include includes/filename.pug
              | #{object.filename}    
            span.right
              i.fas.fa-hashtag
              code #{object.key.substr(0, 6)} 
              
