extends layout.pug

block content
  section
    h2 
      include includes/filename.pug
      |  #{object.filename}
    ul
      li
        i.fas.fa-magnet
        code #{object.href}
      li 
        i.fas.fa-hashtag
        code #{object.key}
    a#download.button(href='/objects/' + object.key, download=object.filename) Download
    form#delete.right(action='/objects/' + object.key + '/forget?_csrf=' + meta.csrfToken, method='post')
      input.button(type='submit', value='Forget')
  section
    h2 
      i.fas.fa-list-ol
      span  Slices
    ul
      for hash in object.hashes
        li
          i.fas.fa-check-circle.green
          i.fas.fa-hashtag
          code #{hash} 
