extends layout.pug

block content
  section
    h2 
      i.fas.fa-users
      span  Network Directory
    if profiles.length === 0
      p There are no known peers.
    ul
      for peer in profiles
        li
          a.block-link(href='/peers/' + peer.identity) 
            i.fas.fa-fingerprint
            code #{peer.identity} 
