extends layout.pug

block content
  section
    h2
      i.fas.fa-id-card
      span  Peer Profile
    ul
      li
        i.fas.fa-fingerprint
        code #{profile.identity}
      li
        i.fas.fa-key
        code #{profile.pubkey}
      li
        a(href='http://' + profile.hostname + ':' + profile.port)
          i.fas.fa-user-secret 
          span #{profile.hostname}
