/* --------------------------------

Fonts

-------------------------------- */

.notice a {
  color: #fff !important;
}

/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/montserrat-v10-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Light'), local('Montserrat-Light'),
       url('../fonts/montserrat-v10-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v10-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v10-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v10-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v10-latin-300.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/montserrat-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url('../fonts/montserrat-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v10-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-800 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/montserrat-v10-latin-800.eot'); /* IE9 Compat Modes */
  src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
       url('../fonts/montserrat-v10-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/montserrat-v10-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/montserrat-v10-latin-800.woff') format('woff'), /* Modern Browsers */
       url('../fonts/montserrat-v10-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/montserrat-v10-latin-800.svg#Montserrat') format('svg'); /* Legacy iOS */
}



/* --------------------------------

Main

-------------------------------- */

*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  background: #fff;
}
b, strong {
  font-weight: 800;
}
a {
  text-decoration: none;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
a:hover {
  color: #222222;
}
.link {
  border-bottom: 1px solid #222222;
}
.link:hover, .link:focus {
  text-decoration: none;
  border-color: #222222;
}

h1, h2, h3, h4, h5, h6, a, p, span {
  -webkit-font-feature-settings: 'kern' 1;
  -moz-font-feature-settings: 'kern' 1;
  -ms-font-feature-settings: 'kern' 1;
  -o-font-feature-settings: 'kern' 1;
  font-feature-settings: 'kern' 1;
  text-rendering: optimizelegibility;
  font-kerning: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 800;
  color: #501644;
  margin-bottom: 0.6em;
}
.title {
  margin-bottom: 1em;
}
p {
  font-weight: 300;
  line-height: 1.6em;
}
img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.section {
  padding: 4em 0 5em;
}

.white {
  background: #fff;
}
.grey {
  background: #f2f4f6;
}
.normal {
  font-weight: normal;
}

.spacer5 { height: 5px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer10 { height: 10px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer15 { height: 15px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer20 { height: 20px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer25 { height: 25px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer30 { height: 30px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer35 { height: 35px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer40 { height: 40px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer45 { height: 45px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer50 { height: 50px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer100 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }
.spacer200 { height: 200px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

.mb0 { margin-bottom: 0 !important; }
.mt0 { margin-top: 0 !important; }
.ml0 { margin-left: 0 !important; }
.mr0 { margin-right: 0 !important; }


/* --------------------------------

Buttons

-------------------------------- */

.btn {
  font-weight: 800;
  text-transform: uppercase;
  background: #501644;
  color: #FFF;
  font-size: 16px;
  padding: 14px 50px;
  border-radius: 4px;
  z-index: 2;
  outline: 0;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -ms-transition: all 0.15s ease-in-out;
  transition: all 0.15s ease-in-out;
}
.btn:hover, .btn:focus {
  color: #fff;
  background: #222222;
  outline: 0;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: 0;
}

.btn-transparent {
  background: transparent;
    border: 2px solid #eee;
    color: #555;
}
.btn-transparent:hover {
  background: #fff;
  color: #333;
  border-color: #555;
}
.btn-transparent:focus {
    color: #222222;
    border-color: #222222;
    background: #fff;
}

.btn-green {
  color: #fff;
  background: #88C425;
}
.btn-green:hover, .btn-green:focus {
  background: #008000;
}

.btn-orange {
  background: #FF7F00;
  color: #fff;
}
.btn-orange:hover, .btn-orange:focus {
  background: #FF6600;
}

.btn-purple {
  background: #7056bf;
  color: #fff;
}
.btn-purple:hover, .btn-purple:focus {
  background: #7016bf;
}

.btn-red {
  background: transparent;
  border-color: #fa6e50;
  color: #fa6e50;
}
.btn-red:hover, .btn-red:focus {
    background: #fa6e50;
    border-color: #fa6e50;
    color: #fff;
}

.btn-white {
  background: #fff;
  color: #003366;
}
.btn-white:hover, .btn-white:focus {
    background: #fff;
    color: #222222;
}

.btn-menu {
  margin: 28px 0 28px 6px;
  padding: 12px 32px 10px;
}

.btn-action {
  margin-top: 18px;
    padding: 12px 36px 10px;
}

.btn-block {
  margin-top: 1.6em;
  margin-bottom: 1.4em;
}

.btn-download {
  max-width: 100%;
}

.btn-signup {
  margin: 10px auto 20px;
  display: block;
  max-width: 360px;
}

.subscribe {
    margin-top: 0;
    margin-bottom: 15px;
}


/* --------------------------------

Navigation

-------------------------------- */

.navbar-brand {
  padding: 0;
  margin: 12px;
        height: 80px;
}
.logo {
    display: inline-block;
    margin: 0 20px 0 15px;
    width: 132px;
    height: 80px;
}
.menu {
    z-index: 3;
    background: none;
    border: none;
    margin: 0;
}

.navbar-heroku {
    margin-top: 30px;
}

.navbar-default .navbar-toggle {
    border: 2px solid #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
    border-radius: 0;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: 0;
}
.navbar-default .navbar-toggle:focus {
  background: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active {
    background-color: #222222;
}
.navbar-default .navbar-collapse.in{
    border-color: transparent;
}
.navbar-collapse.in li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
}
.navbar-nav {
    margin: 0 -15px;
    text-align: center;
}
.navbar-nav>li>a {
  padding: 40px 16px;
    line-height: 22px;
    text-align: center;
}
.nav>li>a:hover, .nav>li>a:focus {
    background: none;
    color: #fff;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
  display: inline-block;
  color: #fff;
  border: 0;
}
.navbar-default .navbar-nav>li>a:hover {
  color: #fff;
  text-decoration: underline;
}
.navbar .dropdown {
  display: inline-block;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: transparent;
    color: #fff;
}

.home .nav>li>a.link:hover, .home .nav>li>a.link:focus {
    text-decoration: underline;
}

.navbar-page {
  border: 0;
  border-radius: 0;
  background: #fff;
}
.navbar-page .navbar-nav>li>a {
  padding: 40px 16px;
  width: 100%;
    color: #333;
    border: 0;
}
.navbar-page .navbar-nav>li>a:hover {
  color: #222222;
}
.navbar-page .nav>li>a.link:hover, .navbar-page .nav>li>a.link:focus {
    text-decoration: underline;
}
.
.navbar-page .navbar-nav>li>a:hover, .navbar-page .navbar-nav>li>a:focus {
    color: #222222;
}
.navbar-page .navbar-nav>li>a.active {
  color: #222222;
}
.navbar-page .navbar-toggle {
  margin-top: 34px;
    margin-right: 22px;
    border: 2px solid #222222;
}
.navbar-page .navbar-toggle .icon-bar {
  background: #222222;
}
.navbar-page .navbar-toggle:hover .icon-bar {
  background: #fff;
}

.navbar .dropdown-menu {
    background: rgba(0,0,0,0.4);
    top: 80px;
    padding: 0;
}
.home .navbar .dropdown-menu {
    border: 1px solid rgba(255, 255, 255, 0.2);
}
.navbar .dropdown-menu>li>a {
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    border-bottom: 0;
    border: 0;
    padding: 1em;
}
.navbar .dropdown-menu>li>a:hover {
  color: #333;
    text-decoration: underline;
}

.navbar-page .navbar-nav>.open>a, .navbar-page .navbar-nav>.open>a:hover, .navbar-page .navbar-nav>.open>a:focus {
    color: #222222;
}
.navbar-page .navbar-nav>li>a:hover, .navbar-page .navbar-nav>li>a:focus {
    color: #222222;
}
.navbar-page .dropdown-menu {
  background: #fff;
}
.navbar-page .dropdown-menu>li>a {
  color: #333;
}
.navbar-page .dropdown-menu>li>a:hover {
  color: #222222;
}
.navbar-page .dropdown-menu>li>a:active {
  color: #222222;
}

.btn-rent {
  background: transparent;
  border: 2px solid #eee !important;
  padding: 14px 24px !important;
  margin-top: 32px;
  margin-left: 15px;
  width: auto !important;
}
.btn-rent:focus, .btn-rent:active, .btn-rent:hover {
  border-color: #fff;
  color: #fff !important;
  box-shadow: none !important;
  text-decoration: none !important;
}
.btn-rent.active {
  border-color: #fff !important;
  color: #fff !important;
  box-shadow: none !important;
}
.navbar-page .btn-rent:hover, .navbar-page .btn-rent:focus, .navbar-page .btn-rent:active {
  border-color: #222222 !important;
  color: #222222 !important;
}

/* --------------------------------

Inputs

-------------------------------- */

input, select, textarea {
  display: block;
  background: #fbfbfb;
  border: 1px solid #eee;
  border-radius: 4px;
  color: #501644;
  padding: 12px 18px 10px;
  margin: 25px auto;
  width: 100%;
  max-width: 320px;
    font-size: 16px;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -ms-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}
input:focus, select:focus, textarea:focus {
    outline: 0;
    border-color: #2D86fb;
}

#publicKeys input {
  margin-top: 20px;
}

select {
  height: 46px;
  text-indent: 10px;
  color: #444;
}

.email {
  margin-top: 1em;
  margin-bottom: 1em;
}

::-webkit-input-placeholder {
    color: #444;
}
:focus::-webkit-input-placeholder {
    color: #BAD7FE;
}
:-moz-placeholder {
    color: #444;
}
:focus:-moz-placeholder {
    color: #BAD7FE;
}
::-moz-placeholder {
    color: #444;
}
:focus::-moz-placeholder {
    color: #BAD7FE;
}
:-ms-input-placeholder {
    color: #444;
}
:focus:-ms-input-placeholder {
    color: #BAD7FE;
}

/* --------------------------------

Homepage

-------------------------------- */

@media (max-width: 1200px) {
  #screens {
    display: none;
  }
}

#screens {
  margin-top: -138px;
  padding-bottom: 0;
}

#screens ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

#screens ul li {
  display: inline-block;
}

#screens ul li img {
  width: 400px;
  border-radius: 4px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 9;
}

#screens ul li:first-of-type {

}

#screens ul li:last-of-type {

}

#screens ul li:first-of-type img {
  width: 320px;
  position: relative;
  left: 24px;
  top: 12px;
  z-index: 8;
}

#screens ul li:last-of-type img {
  width: 320px;
  position: relative;
  left: -24px;
  top: 12px;
  z-index: 8;
}

.header {
  min-height: 600px;
  background: #020307;
  background: -moz-linear-gradient(top, #020307 0%, #501644 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, #020307), color-stop(100%, #501644));
  background: -webkit-linear-gradient(top, #020307 0%, #501644 100%);
  background: -o-linear-gradient(top, #020307 0%, #501644 100%);
  background: -ms-linear-gradient(top, #020307 0%, #501644 100%);
  background: linear-gradient(to bottom, #020307 0%, #501644 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020307', endColorstr='#501644', GradientType=0 );
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.page .menu {
  padding: 0;
}
.page .menu a {
  color: #222222;
}
.page .title {
  font-size: 42px;
  margin-bottom: 0.5em;
}
.page .lead {
  color: #333;
  margin-bottom: 1em;
}
.header-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/bg.jpg") center center no-repeat;
  background-size: cover;
    -webkit-transition: transform 0.1s ease-in-out;
    -moz-transition: transform 0.1s ease-in-out;
    -ms-transition: transform 0.1s ease-in-out;
    transition: transform 0.1s ease-in-out;
}
.header-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: table;
}
.headlines {
  display: block;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  top: 190px;
  top: 25vh;
  z-index: 2;
  padding: 1em;
}
.headlines h1 {
  font-size:49px;
  color: #fff;
  line-height: 68px;
  margin-bottom: 18px;
}
.headlines p {
  padding-bottom: 24px;
  max-width: 600px;
  line-height: 1.8em;
  font-size: 21px;
  margin: 0 auto;
  color: #fff;
}
.notice {
  color: #fff;
  opacity: 0.7;
}
.home .btn {
  position: relative;
  z-index: 2;
  max-width: 360px;
}
.open-source .btn {
  margin: 1.4em auto 0;
}
.home input {
  max-width: 360px;
}
.home .email {
  padding-bottom: 14px;
}

.white-tooltip + .tooltip > .tooltip-inner {
  background-color: #fff;
  color:#333;
}
.tooltip-inner {
  padding: 10px;
  max-width: 154px;
}

.terminal{
    background: #020202;
    background: rgba(0, 0, 0, 0.9);
    height: 370px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 24px;
    border-radius: 9px;
    box-shadow: 0 10px 40px #000000;
    position: absolute;
    top: 420px;
}
.terminal p {
  color: #008000;
    font-weight: bold;
    font-family: monospace;
    font-size: 13px;
}
.terminal-text {
  display: none;
}

/* --------------------------------

Footer

-------------------------------- */

footer {
  padding-top: 0.5em;
  background: #501644;
  background-size: cover;
  text-align: left;
}
.footer-logo:hover, .footer-logo:focus {
  text-decoration: none;
}
.footer-logo {
  display: block;
  margin-bottom: 2px;
    margin-top: 1px;
}
.footer-logo img {
  width: 90px;
  display: block;
}
footer a {
    padding-bottom: 2px;
    line-height: 34px;
    font-size: 18px;
    color: #fff;
    display: inline-block;
    margin: 0 12px 0 12px;
}
footer a:hover {
  color: #fff;
}
footer p {
    font-size: 18px;
    line-height: 38px;
    margin-bottom: 4px;
    color: #fff;
}
footer h5 {
    padding-bottom: 0.5em;
    margin-top: 1em;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
footer .connect {
}
footer .connect a {
  padding-right: 1.2em;
  border: 0;
}
footer .address {
  padding: 2em 0 2em;
}
footer .address address {
  margin: 0;
  color: #525d69;
  color: rgba(255,255,255,0.4);
  font-size: 14px;
}
footer .list-unstyled {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.social-link {
    height: 22px;
    width: 22px;
    margin-right: 0.6em;
    opacity: 1;
    background: #fff;
    border-radius: 3px;
    padding: 4px;
}

/* --------------------------------

FAQ

-------------------------------- */

.panel {
  box-shadow: 0 1px 15px rgba(3, 104, 255, 0.15);
  border: 1px solid #eee;
}
.panel-title {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  background: none;
  line-height: 32px;
  margin-top: 0;
  font-weight: 300;
}
.panel-title a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px 20px;
  color: #222222;
}
.panel-title [data-toggle="collapse"].collapsed {
  background: none;
}
.panel-title a.collapsed {
  color: #333;
}
.panel-body {
  padding: 20px 30px 15px;
  background: #fff;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}
.panel-body li {
  margin-bottom: 10px;
}
.panel-body li p {
  font-weight: 800;
}
.panel-default>.panel-heading {
    background: #fff;
    border-radius: 4px;
    padding: 0;
}
.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #eee;
}
.panel-group .panel {
    margin-bottom: 14px;
}
.panel-link:hover {
  text-decoration: none;
  border: 0;
}
.panel-card {
  padding: 44px;
  box-shadow: 0 1px 15px rgba(3, 104, 255, 0.15);
}
.panel-link:hover .panel-card {
  box-shadow: 0 1px 15px rgba(3, 104, 255, 0.15);
}
.panel-link:active .panel-card {
  box-shadow: 0 1px 15px rgba(3, 104, 255, 0.15);
}
.panel-link p {
  color: #333;
}


/* --------------------------------

Media Queries

-------------------------------- */


@media (min-width: 1200px) {
  .text-left-lg {
    text-align: left;
  }
  .text-right-lg {
    text-align: right;
  }
  .text-center-lg {
    text-align: center;
  }
  .navbar-page {
    padding-left: 30px;
    padding-right: 30px;
  }
  .home .plan {
    margin: 2em 1em;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-nav > li > a {
        padding: 46px 16px;
    }
    .text-left-md {
      text-align: left;
    }
    .text-right-md {
      text-align: right;
    }
    .text-center-md {
      text-align: center;
    }
    .value p {
      font-size: 14px;
    }
    .team-member {
      padding: 30px 0;
    }
    .panel-card {
      padding: 44px 22px;
    }
}

@media (max-width: 991px) {
    .text-left-sm {
      text-align: left;
    }
    .text-right-sm {
      text-align: right;
    }
    .text-center-sm {
      text-align: center;
    }
    .upload {
    padding: 0;
    margin: 1em auto;
    }
    .upload-gui {
      margin-top: 1em;
    }
    .navbar-nav>li>a, .navbar-page .navbar-nav>li>a {
        padding: 48px 8px;
        font-size: 14px;
    }
    .btn-menu {
      padding-left: 15px;
      padding-right: 15px;
    }
    .team-member {
        width: 50%;
    }
    #token-webapp {
      height: 1540px;
    }
}

@media (min-width: 767px) and (max-width: 991px) {
    .logo {
      margin: 0;
      margin-right: 8px;
    }
}

@media (min-width: 480px) and (max-width: 767px) {
  .navbar-default .navbar-toggle {
    margin-top: 2em !important;
  }   
}

@media (max-width: 767px) {
  .text-left-xs {
    text-align: left;
  }
  .text-right-xs {
    text-align: right;
  }
  .text-center-xs {
    text-align: center;
  }
  .header {
    height: auto;
    min-height: 600px;
    padding-bottom: 5em;
  }
  .header-content {
    position: relative;
  }
  .headlines {
    top: auto;
  }
  .navbar-page .logo {
    margin-left: 0;
  }
  .navbar-right {
    text-align: center;
    padding-bottom: 1em;
  }
  .navbar-page .navbar-nav>li>a {
    padding: 16px;
    width: 90%;
  }
  .navbar-page .navbar-nav>li>a.active {
    background: #222222;
    color: #fff;
    box-shadow: none;
  }
  .navbar-page .navbar-nav>li>a:hover, .navbar-page .navbar-nav>li>a:focus  {
    box-shadow: none;
    background: #f2f2f2;
  }
  .navbar-page .navbar-nav>li>a.active:hover, .navbar-page .navbar-nav>li>a.active:focus {
    background: #222222;
  }
  .navbar-default .navbar-toggle {
      margin-top: 3em;
      margin-right: 2em;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
      color: #fff;
  }
  .navbar-page .navbar-nav .open .dropdown-menu>li>a {
      color: #333;
      font-size: 14px;
  }
  ..navbar-page .navbar-nav .open .dropdown-menu>li>a {
      color: #333;
      font-size: 14px;
  }
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
      color: #fff;
      text-decoration: underline;
  }
  .navbar-page .navbar-nav .open .dropdown-menu>li>a:hover, .navbar-page .navbar-nav .open .dropdown-menu>li>a:focus {
      color: #222222;
      text-decoration: underline;
      background: #f2f2f2;
  }
  .navbar .dropdown.open {
    border-bottom: 1px solid rgba(0,0,0,0.2);
  }
  .navbar-page .dropdown.open {
      border-bottom: 0;
  }
  .navbar-page .open .dropdown-menu {
      background-color: #f9f9f9;
  }
  .home .navbar .dropdown-menu {
      border: 1px solid rgba(255, 255, 255, 0.2);
      background: rgba(0,0,0,0.4);
      border: 0;
      text-indent: -8px;
  }
  .navbar-page .dropdown-menu {
    text-indent: -8px;
  }
  .navbar li.dropdown {
      width: 100%;
  }
  .navbar .dropdown {
    box-shadow: none;
  }
  .navbar-nav .open .dropdown-menu>li>a {
      line-height: 42px;
      text-align: center;
  }
  .btn-menu {
    width: 100%;
    margin: 0.5em 0;
  }
  .navbar-page .btn-rent {
      width: 90% !important;
      margin-top: 18px;
  }
  .navbar-page .btn-rent:hover {
    background: #fff !important;
  }
  .home .nav>li>.link:hover, .home .nav>li>.link:focus {
      border-bottom: 0;
  }
  .navbar-nav>li>a {
      padding: 20px 10px;
  }
  footer .address address {
      color: #fff;
  }
}

@media (max-width: 480px) {
  .section {
    padding: 2em 0;
  }
  .logo {
      width: 134px;
  }
  .home .navbar-brand {
    margin: 25px 0;
  }
  .navbar-page .navbar-brand {
    margin: 15px;
  }
  .navbar-page .navbar-toggle {
    margin-top: 22px;
    margin-right: 1em;
  }
  .btn-action {
    padding-left: 10px;
    padding-right: 10px;
  }
  .btn-download {
    padding: 22px;
      font-size: 16px;
  }
  .page .btn-block {
    font-size: 16px;
  }
  .headlines {
    padding: 0;
  }
  h1 {
    font-size: 32px;
  }
  .page .title {
    font-size: 32px;
  }
  .btn {
    padding-left: 20px;
    padding-right: 20px;
  }
  .headlines h1 {
      font-size: 32px;
      line-height: 46px;
  }
  .headlines p {
      padding-bottom: 16px;
      font-size: 20px;
  }
  .panel-card {
    padding: 28px;
  }
  .pricing {
      padding: 2em 0 4em;
  }
  .plans {
      margin: 0 auto 1em;
  }
  .traction img {
      margin-top: 0.6em;
      margin-bottom: 1.5em;
  }
  .traction h2 {
      font-size: 21px;
  }
  .slick-next {
      right: -9px !important;
  }
  .slick-prev {
    left: -9px !important;
  }
  .c2a-wrapper {
    padding: 3em 0 3.5em;
  }
  .c2a h1 {
    font-size: 32px;
    line-height: 46px;
  }
  .c2a p {
    font-size: 16px;
  }
  footer h4 {
    margin-top: 2em;
    padding-bottom: 0;
  }
  .footer-logo p {
    display: block;
  }
}
