/**
 * fonts
 */

@font-face {
  font-family: roboto;
  src: url(../fonts/roboto-regular.ttf);
}

@font-face {
  font-family: roboto;
  font-weight: bold;
  src: url(../fonts/roboto-bold.ttf);
}

@font-face {
  font-family: cocogoose;
  src: url(../fonts/cocogoose.otf);
}
