/**
 * layout.pug
 */

body {
  font-family: roboto;
  font-size: 14px;
  background: url(/img/logo-word-white.png) 72px 12px no-repeat #222222;
  margin: 0;
  padding: 0;
  color: #222222;
  background-size: 94px;
}

a {
  color: #501644;
  text-decoration: none;
}

a:hover {
  color: #222222;
}

#toggle {
  display: none;
}

label[for="toggle"]:hover {
  cursor: pointer;
} 

.onion {
  background: #501644;
  box-shadow: inset 0 0 2px #000;
  color: #fff;
  text-align: center;
}

@media (min-width: 960px) {

  label[for="toggle"] {
    font-size: 28px;
    margin-left: 20px;
    padding: 16px 12px;
    color: #ffffff;
    position: absolute;
    z-index: 3;
    transition: margin-left 0.2s ease-out;
    top: 8px;
  }

  #toggle:checked ~ label[for="toggle"] {
    margin-left: 216px;
    position: fixed;
    color: #501644;
    z-index: 1 !important;
  }

  #toggle:checked ~ header {
    margin-left: 0px !important;
  }

  #toggle:checked ~ #container {
    padding: 76px 24px 24px 296px;
  }

  #container {
    padding: 74px 24px 24px 44px;
  }

  #header {
    margin: 0 0 0 -252px;
  }

  #toggle:checked ~ #header:hover {
    z-index: 0 !important;
  }

  #header:hover {
    z-index: 4;
  }

}

@media (max-width: 959px) {

  #toggle:checked ~ #header:hover {
    z-index: 4;
  }

  label[for="toggle"] {
    font-size: 28px;
    margin-left: 216px;
    padding: 16px 12px;
    color: #501644;
    position: fixed;
    z-index: 1;
    transition: margin-left 0.2s ease-out;
    top: 8px;
  }

  #toggle:checked ~ label[for="toggle"] {
    margin-left: 20px;
    position: absolute;
    color: #ffffff;
    z-index: 3 !important;
  }

  #toggle:checked ~ header {
    margin-left: -252px;
  }

  #toggle:checked ~ #container {
    padding-left: 44px;
  }

  #header {
    transition: margin-left 0.2s ease-out;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: #ffffff;
    overflow: auto;
    box-shadow: 0 3px 5px #111;
  }

  #container {
    padding: 76px 24px 24px 296px;
  }

}

#header:hover {
  margin-left: 0 !important;
}

#header:hover ~ #container {
  padding-left: 296px;
}

#header {
  transition: margin-left 0.2s ease-out;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  background: #ffffff;
  overflow: auto;
  box-shadow: 0 3px 5px #111;
}

#logo {
  margin: 48px 24px 0px 24px;
}

#version {
  color: #501644;
  font-family: monospace;
  text-align: center;
}

#header > nav {
  margin: 24px 0;
}

#header a {
  padding: 12px 24px 8px 24px;
  border-left: 4px solid #ffffff;
  display: block;
  width: 220px;
  text-decoration: none;
  color: #501644;
  font-size: 18px
}

#header a:hover, #header a.active {
  border-left-color: #501644;

}

#container {
  transition: padding-left 0.2s ease-out;
  max-width: 960px;
}

.green {
  color: #3D9970;
}

.bg-green {
  background: #3D9970 !important;
}

.purple {
  color: #501644;
}

.red {
  color: #85144b;
}

.bg-red {
  background: #85144b !important;
}

.yellow {
  color: hsla(52, 100%, 20%, 1.0);
}

.left {
  display: inline-block;
  float: left;
}

.right {
  display: inline-block;
  float: right;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spin 1s linear infinite;
}

section {
  background: #ffffff;
  border-radius: 2px;
  box-shadow: 0 0 2px #000;
  padding: 0;
  margin-bottom: 24px;
  overflow: hidden;
}

section h2 {
  margin: 0;
  padding: 24px;
  border-bottom: 1px solid #e2e2e2;
  font-family: cocogoose;
  text-transform: uppercase;
  font-size: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

section ul {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

section ul li {
  padding: 12px 24px 12px 24px;;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

section ul li:nth-child(odd) {
  background: #eeeeee;
}

section ul li i.fas {
  display: inline-block;
  width: 24px;
}

section p {
  margin: 12px 24px;
  font-size: 16px;
  word-wrap: break-word;
}

.block-input-text-wrapper {
  margin: 24px 24px 0 24px;
  display: block;
}

.button {
  display: inline-block;
  background: #501644;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  padding: 12px 24px;
  margin: 12px 24px 0 24px;
  font-weight: normal;
  font-size: 16px;
}

.button:hover {
  cursor: pointer;
  background: #222222 !important;
  color: #fff;
}

.block-input-text-wrapper input[type="text"],
.block-input-text-wrapper input[type="number"],
.block-input-text-wrapper input[type="password"] {
  background: #eeeeee;
  display: block;
  width: 100%;
  border: 1px solid #e2e2e2;
  padding: 12px;
  color: #222222;
}

.block-input-text-wrapper input[type="number"] {
  width: 144px;
}

.block-input-text-wrapper input[type="text"]::placeholder,
.block-input-text-wrapper input[type="number"]::placeholder,
.block-input-text-wrapper input[type="password"]::placeholder {
  color: #666;
}

/**
 * object-list.pug
 */

#upload input[type="file"] {
  display: block;
  width: 100%;
}

#upload label[for="policy"] {
  margin: 12px 24px 0 24px;
  padding: 12px;
  border-radius: 2px;
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#upload label[for="policy"]:hover {
  cursor: pointer;
  opacity: 0.8;
}

#upload label[for="policy"].private {
  margin: 12px 24px 0 24px;
  padding: 12px;
  background: #3D9970;
  border-radius: 2px;
  border: 1px solid #3d9970;
  display: block;
  color: #ffffff;
}

#upload label[for="policy"].private:hover {
  cursor: pointer;
  opacity: 0.8;
}

#upload label[for="policy"].public {
  margin: 12px 24px 0 24px;
  padding: 12px;
  background: #FFDC00;
  border-radius: 2px;
  border: 1px solid #3d9970;
  display: none;
  color: hsla(52, 100%, 20%, 1.0);
}

#upload label[for="policy"] i.fas {
  font-size: 17px;
  float: left;
  margin-right: 12px;
}

#upload input[name="policy"] {
  display: none;
}

#upload input[name="policy"]:checked ~ .public {
  display: block;
}

#upload input[name="policy"]:checked ~ .private {
  display: none;
}

#upload .public {
  display: none
}

#files li a {
  display: block;
  overflow: hidden;
}

/**
 * object-detail.pug
 */

#delete .button {
  background: #ff4136;
}

#delete .button:hover {
  background: hsla(3, 100%, 25%, 1.0);
}

#download {
  background: #2ecc40; 
}

#download:hover {
  background: hsla(127, 63%, 15%, 1.0);
}

#delete, #download {
  display: inline-block;
}

/**
 * node-admin.pug
 */

#policies li form {
  display: inline;
  margin: 0;
}

#policies li form button {
  font-size: 16px;
  background: none;
  border: none;
}

#policies li form button:hover {
  cursor: pointer;
  color: #000000;
}
