<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ORC</title>
    <link rel="stylesheet" href="assets/vendor/css/fontawesome.css">
    <link rel="stylesheet" href="assets/css/fonts.css">
    <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body>
    <div id="connecting">
      <div id="connecting-loader" v-if="enabled" v-bind:class="statusClass">
        <p>
          <i v-if="connected" class="fas fa-check-circle"></i>
          <i v-if="error" class="fas fa-exclamation-triangle"></i>
          <i v-if="!error && !connected" class="fas fa-spinner spinning"></i>
          <br/ ><br />{{message}}<br />
          <a href="#" class="button" id="retry" v-on:click="reconnect" v-if="error">Retry?</a>
        </p>
      </div>
    </div>
    <header id="header">
      <form v-on:submit="resolve" class="block-input-text-wrapper">
        <input type="text" id="search" placeholder="orc://" v-model="href" v-bind:class="{ hint: hint }" v-on:change="validate" />
        <input type="submit" style="display:none">
      </form>
    </header>
    <div id="upload">
      <label for="file-upload" ref="fileupload" id="drop" v-bind:class="{ uploading: uploading }">
        <div v-if="uploading" class="uploading">
          <i class="fas fa-spinner spinning"></i><br/><br/>
          <div v-if="!logs.length">Uploading {{filename}}...</div>
          <div class="logline" v-if="logs.length">{{logs[0]}}</div>
        </div>
        <div v-if="!uploading">
          <i class="fas fa-upload"></i><br/><br/>Drag or click to upload.
        </div>
        <input type="file" id="file-upload" v-bind:disabled="uploading" v-on:change="upload">
      </label>
    </div>
    <div id="loader">
      <div v-if="loading" id="loading" class="active"></div>
    </div>
    <section id="files">
      <p v-if="!objects.length" class="no-files">
        There are no files being tracked.
      </p>
      <ul>
        <li v-for="object in objects" v-bind:class="{ downloading: object.downloading }">
          <div v-if="!object.resolving" class="file-name">
            {{object.filename}}
          </div>
          <div v-if="object.resolving" class="file-name">
            <i class="fas fa-spinner spinning"></i> Resolving...
          </div>
          <div class="file-hash">
            <i class="fas fa-hashtag"></i> {{object.key}}
          </div>
          <div id="file-actions">
            <a href="#" v-on:click="copy(object)" class="button"><i class="fas fa-link"></i> Copy Link</a>
            <a href="#" v-on:click="download(object)" v-if="!object.resolving && !object.downloading" class="button bg-green"><i class="fas fa-download"></i> Download</a>
            <a href="#" v-on:click="forget(object)" v-if="!object.resolving && !object.downloading" class="button bg-red"><i class="fas fa-ban"></i> Forget</a>
          </div>
        </li>
      </ul>
    </section>
    <footer id="footer">
      <p v-if="status.disconnected" class="red">
        <i class="fas fa-times-circle"></i> Disconnected
      </p>
      <p v-if="!status.disconnected && !status.peers.length">
        <i class="fas fa-spinner spinning"></i> Connecting...
      </p>
      <p v-if="!status.disconnected && status.peers.length" class="green">
      <i class="fas fa-signal"></i> Connected ({{status.peers.length}} peers)
      </p>
    </footer>
    <script type="text/javascript">require('./app');</script>
  </body>
</html>
