/**
 * layout.pug
 */

body {
  font-family: roboto;
  font-size: 14px;
  margin: 0;
  padding: 0;
  background: #222;
}

a {
  color: #501644;
  text-decoration: none;
}

a:hover {
  color: #222222;
}

#toggle {
  display: none;
}

label[for="toggle"]:hover {
  cursor: pointer;
} 

.green {
  color: #3D9970;
}

.bg-green {
  background: #3D9970 !important;
}

.purple {
  color: #501644;
}

.red {
  color: #85144b;
}

.bg-red {
  background: #85144b !important;
}

.yellow {
  color: hsla(52, 100%, 20%, 1.0);
}

.left {
  display: inline-block;
  float: left;
}

.right {
  display: inline-block;
  float: right;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.spinning {
  animation: spin 1s linear infinite;
}

section ul {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

section ul li {
  padding: 12px 24px 12px 24px;;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: #fff;
}

section ul li:nth-child(odd) {
  background: #333;
}

section ul li i.fas {
  display: inline-block;
}

section p {
  margin: 12px 24px;
  font-size: 16px;
  word-wrap: break-word;
}

.block-input-text-wrapper {
  margin: 0;
  display: block;
}

.button {
  display: inline-block;
  background: #501644;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  padding: 8px 12px;
  margin: 12px 36px 0 0;
  font-weight: normal;
  font-size: 12px;
}

.button:hover {
  cursor: pointer;
  background: #222222 !important;
  color: #fff;
}

.block-input-text-wrapper input[type="text"],
.block-input-text-wrapper input[type="number"],
.block-input-text-wrapper input[type="password"] {
  background: #eeeeee;
  display: block;
  width: 100%;
  border: 1px solid #e2e2e2;
  padding: 18px;
  color: #222222;
}

.block-input-text-wrapper input[type="number"] {
  width: 144px;
}

.block-input-text-wrapper input[type="text"]::placeholder,
.block-input-text-wrapper input[type="number"]::placeholder,
.block-input-text-wrapper input[type="password"]::placeholder {
  color: #666;
}

#header {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

#search {
  font-size: 18px;
  font-family: monospace;
}

@-webkit-keyframes hint {
  0% {
    background-color: #eeeeee;
  }
  100% {
    background-color: #85144b;
  }
}
    
.hint {
  -webkit-animation-name: hint;
  -webkit-animation-duration: 250ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
}

#upload {
  margin: 0;
  position: fixed;
  top: 58px;
  width: 100%;
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
  z-index: 1;
}

.logline {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#drop {
  display: block;
  margin: 12px;
  padding: 24px;
  border: 2px dashed #501644;
  text-align: center;
  color: #501644;
}

#drop:hover {
  cursor: pointer;
}

#drop i {
  font-size: 32px;
}

#drop input {
  display: none;
}

#files {
  margin: 199px 0 41px 0;
}

#files li > div {
  margin: 6px 0;
}

@keyframes barberpole {
  from { background-position: 0 0; }
  to   { background-position: 60px 0px; }
}

.downloading {
  animation: barberpole 0.5s linear infinite;
  transition: opacity 0.3s ease;
  background-size: 30px 30px !important;
  background: repeating-linear-gradient(
    37deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  ) !important;
}

.uploading {
  color: #999;
  border-color: #999 !important;
}

.file-name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.file-hash {
  font-family: monospace;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.no-files {
  text-align: center; 
  font-size: 14px;
  color: #fff;
  padding: 24px;
}

.inactive {
  opacity: 0.2;
}

#footer {
  border-top: 1px solid #e2e2e2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  background: #fff;
}

#footer p {
  margin: 12px;
}

#connecting-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #501644;
  z-index: 9;
  text-align: center;
  color: #fff;
}

#connecting-loader i {
  font-size: 48px;
}

#connecting-loader p {
  font-size: 18px;
  margin: 214px 24px 0 24px;
}

#retry {
  color: #85144b;
  background: #fff;
  margin-right: 6px;
  border: 1px solid #fff;
}

#retry:hover {
  background: #85144b !important;
  color: #fff;
}
